DMPImport/Microsoft.Flow/flows/96b3f81c-231f-4900-b4f3-981ebdf53c02/definition.json
{"name":"cf4204a2-0cf9-4186-83c5-3dd55528645f","id":"/providers/Microsoft.Flow/flows/cf4204a2-0cf9-4186-83c5-3dd55528645f","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"DMP Import","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"302a0243-39a2-4b6f-84ff-e049029e5a17","type":"User","tenantId":"0693b5ba-4b18-4d7b-9341-f32f400a5494"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-07-15T19:41:32.797665Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"c218b319-1b2c-40cf-a8fe-a5acea838993"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_Excel_files":{"runAfter":{},"metadata":{"operationMetadataId":"1ce4ee7e-3318-463a-9d9b-6384bb34a447"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItems"},"parameters":{"dataset":"https://doimspp.sharepoint.com/sites/MetadataResources","table":"31d70d2e-c716-431c-8f60-6265183dc3f0","folderPath":"/Shared Documents/DMP Testing"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Get files (properties only)"},"Apply_to_each_file":{"foreach":"@outputs('Get_Excel_files')?['body/value']","actions":{"Apply_to_each_row":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Condition":{"actions":{},"runAfter":{},"else":{"actions":{"Select_Data_Trustee":{"runAfter":{},"metadata":{"operationMetadataId":"b529d64e-61f5-4ac3-a08b-d5bccfc4b5cd"},"type":"Select","inputs":{"from":"@split(item()['DataTrustee'],';')","select":{"Claims":"@item()"}},"description":"Select: split(item()['DataTrustee'],';'), item()"},"Select_Data_Steward":{"runAfter":{"Select_Data_Trustee":["Succeeded"]},"metadata":{"operationMetadataId":"bd826813-1090-4d22-b752-35e3c3425e2b"},"type":"Select","inputs":{"from":"@split(item()['DataSteward'],';')","select":{"Claims":"@item()"}},"description":"Select: split(item()['DataSteward'],';'), item()"},"Select_Data_Custodian":{"runAfter":{"Select_Data_Steward":["Succeeded"]},"metadata":{"operationMetadataId":"d24d75e1-1781-4418-a585-442ac6516a18"},"type":"Select","inputs":{"from":"@split(item()['DataCustodianDOI'],';')","select":{"Claims":"@item()"}},"description":"Select: split(item()['DataCustodianDOI'],';'), item()"},"Select_Data_Producer":{"runAfter":{"Select_Data_Custodian":["Succeeded"]},"metadata":{"operationMetadataId":"30f9edbb-f37d-464e-b5f0-18fdbeca4118"},"type":"Select","inputs":{"from":"@split(item()['DataProducerDOI'],';')","select":{"Claims":"@item()"}},"description":"Select: split(item()['DataProducerDOI'],';'), item()"},"Select_DataTypeFormatsCollected":{"runAfter":{"Select_Data_Producer":["Succeeded"]},"metadata":{"operationMetadataId":"114ba2cd-9f56-42cf-974b-e69a87132364"},"type":"Select","inputs":{"from":"@split(item()['DataTypeFormatsCollected'],';')","select":{"Value":"@item()"}},"description":"Select: split(item()['DataTypeFormatsCollected'],';'), item()"},"Select_DataStorageLocation":{"runAfter":{"Select_DataTypeFormatsCollected":["Succeeded"]},"metadata":{"operationMetadataId":"058853b8-ca8e-41b7-ab07-26bad8eb270b"},"type":"Select","inputs":{"from":"@split(item()['DataStorageLocation'],';')","select":{"Value":"@item()"}},"description":"Select: split(item()['DataStorageLocation'],';'), item()"},"Select_DataAccess":{"runAfter":{"Select_DataStorageLocation":["Succeeded"]},"metadata":{"operationMetadataId":"c26e8f59-4898-43f0-bb64-6e40b5c74d6b"},"type":"Select","inputs":{"from":"@split(item()['DataAccess'],';')","select":{"Value":"@item()"}},"description":"Select: split(item()['DataAccess'],';'), item()"},"Select_DataStandard":{"runAfter":{"Select_DataAccess":["Succeeded"]},"metadata":{"operationMetadataId":"c2ebc4c6-0728-4a87-8266-30a87069848d"},"type":"Select","inputs":{"from":"@split(item()['DataStandard'],';')","select":{"Value":"@item()"}},"description":"Select: split(item()['DataStandard'],';'), item()"},"Select_MetadataStandard":{"runAfter":{"Select_DataStandard":["Succeeded"]},"metadata":{"operationMetadataId":"e11738bc-237b-4406-b0ad-d7dff8d3b6bf"},"type":"Select","inputs":{"from":"@split(item()['MetadataStandard'],';')","select":{"Value":"@item()"}},"description":"Select: split(item()['MetadataStandard'],';'), item()"},"Set_partnerOrg_variable_to_be_empty":{"runAfter":{"Select_MetadataStandard":["Succeeded"]},"metadata":{"operationMetadataId":"d8e6881d-68ad-4b6f-99d7-5f66f65c43a4"},"type":"SetVariable","inputs":{"name":"partnerOrg","value":[]},"description":"Set variable"},"Condition:_PartnerOrganization_is_empty":{"actions":{"PartnerOrganization_ID_is_-1":{"runAfter":{},"metadata":{"operationMetadataId":"dec925cf-0082-43c9-9f6f-6baa8173c070"},"type":"SetVariable","inputs":{"name":"partnerOrg","value":[{"ID":-1}]},"description":"Set variable"}},"runAfter":{"Set_partnerOrg_variable_to_be_empty":["Succeeded"]},"else":{"actions":{"Apply_to_each_PartnerOrganization":{"foreach":"@split(item()['PartnerOrganization'],';')","actions":{"Filter_items_from_PartnerOrganization_list":{"runAfter":{},"metadata":{"operationMetadataId":"984b04c2-7106-4ca6-81b9-09da1b4e0dcb"},"type":"Query","inputs":{"from":"@outputs('Get_PartnerAgency_Lookup_List')?['body/value']","where":"@equals(item()?['Title'], items('Apply_to_each_PartnerOrganization'))"},"description":"Filter array: outputs('Get_PartnerAgency_Lookup_List')?['body/value'], item()?['Title'], items('Apply_to_each_PartnerOrganization')"},"Select_PartnerOrganization_ID":{"runAfter":{"Filter_items_from_PartnerOrganization_list":["Succeeded"]},"metadata":{"operationMetadataId":"87a46026-3f3e-47be-a9d6-bd85854d4d04"},"type":"Select","inputs":{"from":"@body('Filter_items_from_PartnerOrganization_list')","select":{"ID":"@item()['ID']"}},"description":"Select: body('Filter_items_from_PartnerOrganization_list'), item()['ID']"},"Append_to_partnerOrg_variable":{"runAfter":{"Select_PartnerOrganization_ID":["Succeeded"]},"metadata":{"operationMetadataId":"35a0e529-dbb8-4ebe-b6da-40ef7ea94370"},"type":"AppendToArrayVariable","inputs":{"name":"partnerOrg","value":{"ID":"@body('Select_PartnerOrganization_ID')?[0]?['ID']"}},"description":"Append to array variable: body('Select_PartnerOrganization_ID')?[0]?['ID']"}},"runAfter":{},"metadata":{"operationMetadataId":"310048a5-823a-4926-a8c1-4421f2eeb82a"},"type":"Foreach","description":"Apply to each: split(item()['PartnerOrganization'],';')"}}},"expression":{"equals":["@item()?['PartnerOrganization']",""]},"metadata":{"operationMetadataId":"2b379c47-c5ff-4130-8139-9dfa6e2cc067"},"type":"If","description":"Condition: items('Apply_to_each_row')?['PartnerOrganziation']"},"Create_DMP_list_item":{"runAfter":{"Condition:_PartnerOrganization_is_empty":["Succeeded"]},"metadata":{"operationMetadataId":"6a667bd2-fd9f-4b90-9e97-87979bcb2527"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://doimspp.sharepoint.com/sites/fws-data","table":"801fb275-7fba-42d9-82bd-da53008caa0e","item/Title":"@items('Apply_to_each_row')['ProjectTitle']","item/ProjectDescription":"@item()['ProjectDescription']","item/CostCenter":"@item()['CostCenter']","item/FWSNationalProgram":"@item()['FWSNationalProgram']","item/InteriorRegion":"@item()['FWSRegion']","item/DataTrustee":"@body('Select_Data_Trustee')","item/DataSteward":"@body('Select_Data_Steward')","item/ProjectStartDate":"@items('Apply_to_each_row')['ProjectStartDate']","item/TypeofDataCollected":"@body('Select_DataTypeFormatsCollected')","item/DataStorageLocation2":"@body('Select_DataStorageLocation')","item/DataAccess":"@body('Select_DataAccess')","item/RequiredResources":"@item()['RequiredResources']","item/DataStandard":"@body('Select_DataStandard')","item/MetadataStandard":"@body('Select_MetadataStandard')","item/DataQualityAssurance":"@item()['DataQualityAssurance']","item/DataQualityControl":"@item()['DataQualityControl']","item/Completed":"@item()?['Completed']","item/Keywords":"@item()['Keywords']","item/Partners":"@variables('partnerOrg')","item/DataCustodianChoice/Value":"@item()['DataCustodianChoice']","item/DataCustodian":"@body('Select_Data_Custodian')","item/DataCustodian0":"@item()['DataCustodianNonDOI']","item/DataProducerChoice/Value":"@item()['DataProducerChoice']","item/DataProducer":"@body('Select_Data_Producer')","item/DataProducer0":"@item()['DataProducerNonDOI']","item/ProjectTimeline/Value":"@item()['ProjectTimeline']","item/ProjectEndDate":"@if(equals(items('Apply_to_each_row')['ProjectEndDate'],''), null,addDays('1899-12-30', int(item()['ProjectEndDate']), 'yyyy-MM-ddT00:00:00'))","item/ExistingData":"@item()['ExistingData']","item/ProjectReferenceNumber":"@item()['ProjectReferenceNumber']","item/DataStorageLinks":"@item()['DataStorageLinks']","item/DataAccessJustification":"@item()['DataAccessJustification']","item/DataReviewSchedule/Value":"@item()['DataReviewSchedule']","item/RecordsMgmtAcknowledgement":"@item()['RecordsMgmtAcknowledgement']","item/RecordsSchedule":"@item()['RecordsSchedule']","item/RecordsTypes":"@item()['RecordsTypes']","item/RecordsDisposition":"@item()?['RecordsDisposition']","item/Comments":"@item()?['Comments']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_a_excel_row_uploaded_status_to_TRUE":{"runAfter":{"Create_DMP_list_item":["Succeeded"]},"metadata":{"operationMetadataId":"042a5609-6df9-4fcd-9f7e-ca4fcf2f4398","tableId":"National_DMPs"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"groups/39413387-6f85-4f10-bc18-6b80e5822685","drive":"b!ccOSboT4UUqkynj7BC6JrcSxhYQwEu5MkGkgip-xaoYuDdcxFsccQ49gYmUYPcPw","file":"@items('Apply_to_each_file')?['{FullPath}']","table":"National_DMPs","idColumn":"ProjectTitle","id":"@items('Apply_to_each_row')?['ProjectTitle']","item":{"Uploaded":"TRUE"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Update a row: items('Apply_to_each_file')?['{FullPath}'], items('Apply_to_each_row')?['ProjectTitle']"}}},"expression":{"equals":["@item()?['Uploaded']","Yes"]},"metadata":{"operationMetadataId":"909a5515-8c64-4f28-9117-b40a9179c23c"},"type":"If","description":"Condition: items('Apply_to_each_row')?['Uploaded']"}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"a9cc1b27-4e7b-48f8-99a8-63c916fb28f2"},"type":"Foreach","description":"Apply to each: outputs('List_rows_present_in_a_table')?['body/value']"},"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"operationMetadataId":"656d6918-4435-404f-837b-bcedeb26198a","tableId":"National_DMPs"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"groups/39413387-6f85-4f10-bc18-6b80e5822685","drive":"b!ccOSboT4UUqkynj7BC6JrcSxhYQwEu5MkGkgip-xaoYuDdcxFsccQ49gYmUYPcPw","file":"@items('Apply_to_each_file')?['{FullPath}']","table":"National_DMPs","dateTimeFormat":"ISO 8601"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"List rows present in a table: items('Apply_to_each_file')?['{FullPath}']"}},"runAfter":{"Initialize_Partner_Agency_array":["Succeeded"]},"metadata":{"operationMetadataId":"975d52da-a147-4bc1-b41a-0af97de9cdd2"},"type":"Foreach","description":"Apply to each: outputs('Get_Excel_files')?['body/value']"},"Get_PartnerAgency_Lookup_List":{"runAfter":{"Get_Excel_files":["Succeeded"]},"metadata":{"operationMetadataId":"0b920a6c-eea0-4b98-b3ad-b4d1a59f7c3f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://doimspp.sharepoint.com/sites/fws-data","table":"c918793e-d2ec-4dfc-be27-9a49bb16d6ed"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Get items"},"Initialize_Partner_Agency_array":{"runAfter":{"Get_PartnerAgency_Lookup_List":["Succeeded"]},"metadata":{"operationMetadataId":"78b6f876-2c01-47e7-8add-9cfda82eec86"},"type":"InitializeVariable","inputs":{"variables":[{"name":"partnerOrg","type":"array"}]},"description":"Initialize variable"}},"description":"Template script to transfer rows from Excel files into the national DMP form list. Template can be adjusted to meet individual groups' needs."},"connectionReferences":{"shared_sharepointonline":{"connectionName":"4e4c5156e95a4a83a6a208b6cbd1a447","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-68f8d0ef-5cbe-4970-b958-26f924515143","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}