DMPImport/Microsoft.Flow/flows/96b3f81c-231f-4900-b4f3-981ebdf53c02/definition.json
{"name":"cf4204a2-0cf9-4186-83c5-3dd55528645f","id":"/providers/Microsoft.Flow/flows/cf4204a2-0cf9-4186-83c5-3dd55528645f","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Import DMPs to National Form","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"302a0243-39a2-4b6f-84ff-e049029e5a17","type":"User","tenantId":"0693b5ba-4b18-4d7b-9341-f32f400a5494"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-07-25T19:29:50.0953673Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"c218b319-1b2c-40cf-a8fe-a5acea838993"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]},"headersSchema":{"x-ms-user-email-encoded":{"title":"User email","type":"string","format":"byte","x-ms-dynamically-added":false}}}}},"actions":{"Apply_to_each_file":{"foreach":"@outputs('List_files_in_folder')?['body/value']","actions":{"Apply_to_each_row":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Condition:_Row_has_previously_been_written_to_the_List":{"actions":{},"runAfter":{},"else":{"actions":{"Scope:_Split_multi-select_fields_into_arrays":{"actions":{"Select_Data_Trustee":{"runAfter":{},"metadata":{"operationMetadataId":"b529d64e-61f5-4ac3-a08b-d5bccfc4b5cd"},"type":"Select","inputs":{"from":"@split(item()['DataTrustee'],';')","select":{"Claims":"@item()"}},"description":"Select: split(item()['DataTrustee'],';'), item()"},"Select_Data_Steward":{"runAfter":{"Select_Data_Trustee":["Succeeded"]},"metadata":{"operationMetadataId":"bd826813-1090-4d22-b752-35e3c3425e2b"},"type":"Select","inputs":{"from":"@split(item()['DataSteward'],';')","select":{"Claims":"@item()"}},"description":"Select: split(item()['DataSteward'],';'), item()"},"Select_Data_Custodian":{"runAfter":{"Select_Data_Steward":["Succeeded"]},"metadata":{"operationMetadataId":"d24d75e1-1781-4418-a585-442ac6516a18"},"type":"Select","inputs":{"from":"@split(item()['DataCustodianDOI'],';')","select":{"Claims":"@item()"}},"description":"Select: split(item()['DataCustodianDOI'],';'), item()"},"Select_Data_Producer":{"runAfter":{"Select_Data_Custodian":["Succeeded"]},"metadata":{"operationMetadataId":"30f9edbb-f37d-464e-b5f0-18fdbeca4118"},"type":"Select","inputs":{"from":"@split(item()['DataProducerDOI'],';')","select":{"Claims":"@item()"}},"description":"Select: split(item()['DataProducerDOI'],';'), item()"},"Scope:_Split_DataStandard_into_array_and_check_for_valid_entries":{"actions":{"Select_DataStandard":{"runAfter":{},"metadata":{"operationMetadataId":"c2ebc4c6-0728-4a87-8266-30a87069848d"},"type":"Select","inputs":{"from":"@split(item()['DataStandard'],';')","select":{"Value":"@if(contains(outputs('Compose:_DataStandards_choices'), item()), item(), null)"}},"description":"Select: split(item()['DataStandard'],';'), if(contains(outputs('Compose:_DataStandards'), item()), item(), null)"},"Apply_to_each_Data_Standard":{"foreach":"@body('Select_DataStandard')","actions":{"Append_Data_Standards_to_error_message":{"runAfter":{},"metadata":{"operationMetadataId":"5ae75d83-b219-4c0c-88a3-a49a79df2b3b"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"@if(equals(items('Apply_to_each_Data_Standard')?['Value'],null),'Data Standard not found. ','')"},"description":"Append to variable: if(equals(items('Apply_to_each_Data_Standard')?['Value'],null),'Data Standard not found. ','')"}},"runAfter":{"Select_DataStandard":["Succeeded"]},"metadata":{"operationMetadataId":"95a6a49e-b803-4d1d-8158-924f6c2a7c50"},"type":"Foreach"}},"runAfter":{"Select_Data_Producer":["Succeeded"]},"metadata":{"operationMetadataId":"5acea91a-f464-4ef1-8509-1eca5d77d57d"},"type":"Scope"},"Scope:_Split_MetadataStandard_into_array_and_check_for_valid_entries":{"actions":{"Select_MetadataStandard":{"runAfter":{},"metadata":{"operationMetadataId":"c2ebc4c6-0728-4a87-8266-30a87069848d"},"type":"Select","inputs":{"from":"@split(item()['MetadataStandard'], ';')","select":{"Value":"@if(contains(outputs('Compose:_MetadataStandard_choices'), item()), item(), null)"}},"description":"Select: split(item()['MetadataStandard'], ';'), if(contains(outputs('Compose:_MetadataStandard_choices'), item()), item(), null)"},"Apply_to_each_Metadata_Standard":{"foreach":"@body('Select_MetadataStandard')","actions":{"Append_Metadata_Standard_to_error_message":{"runAfter":{},"metadata":{"operationMetadataId":"5ae75d83-b219-4c0c-88a3-a49a79df2b3b"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"@if(equals(items('Apply_to_each_Metadata_Standard')?['Value'], null), 'Metadata Standard not found. ','')"},"description":"Append to variable: if(equals(items('Apply_to_each_Metadata_Standard')?['Value'], null), 'Metadata Standard not found. ','')"}},"runAfter":{"Select_MetadataStandard":["Succeeded"]},"metadata":{"operationMetadataId":"95a6a49e-b803-4d1d-8158-924f6c2a7c50"},"type":"Foreach"}},"runAfter":{"Scope:_Split_DataStandard_into_array_and_check_for_valid_entries":["Succeeded"]},"metadata":{"operationMetadataId":"5acea91a-f464-4ef1-8509-1eca5d77d57d"},"type":"Scope"},"Scope:_Split_DataAccess_into_array_and_check_for_valid_entries":{"actions":{"Select_DataAccess":{"runAfter":{},"metadata":{"operationMetadataId":"c2ebc4c6-0728-4a87-8266-30a87069848d"},"type":"Select","inputs":{"from":"@split(item()['DataAccess'], ';')","select":{"Value":"@if(contains(outputs('Compose:_DataAccess_choices'), item()), item(), null)"}},"description":"Select: split(item()['DataAccess'], ';'), if(contains(outputs('Compose:_DataAccess_choices'), item()), item(), null)"},"Apply_to_each_Data_Access":{"foreach":"@body('Select_DataAccess')","actions":{"Append_Data_Access_to_error_message":{"runAfter":{},"metadata":{"operationMetadataId":"5ae75d83-b219-4c0c-88a3-a49a79df2b3b"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"@if(equals(items('Apply_to_each_Data_Access')?['Value'], null), 'Data Access not found. ','')"},"description":"Append to variable: if(equals(items('Apply_to_each_Data_Access')?['Value'], null), 'Data Access not found. ','')"}},"runAfter":{"Select_DataAccess":["Succeeded"]},"metadata":{"operationMetadataId":"95a6a49e-b803-4d1d-8158-924f6c2a7c50"},"type":"Foreach"}},"runAfter":{"Scope:_Split_MetadataStandard_into_array_and_check_for_valid_entries":["Succeeded"]},"metadata":{"operationMetadataId":"5acea91a-f464-4ef1-8509-1eca5d77d57d"},"type":"Scope"},"Scope:_Split_DataStorageLocation_into_array_and_check_for_valid_entries":{"actions":{"Select_DataStorageLocation":{"runAfter":{},"metadata":{"operationMetadataId":"c2ebc4c6-0728-4a87-8266-30a87069848d"},"type":"Select","inputs":{"from":"@split(item()['DataStorageLocation'], ';')","select":{"Value":"@if(contains(outputs('Compose:_DataStorageLocation_choices'), item()), item(), null)"}},"description":"Select: split(item()['DataStorageLocation'], ';'), if(contains(outputs('Compose:_DataStorageLocation_choices'), item()), item(), null)"},"Apply_to_each_Data_Storage_Location":{"foreach":"@body('Select_DataStorageLocation')","actions":{"Append_Data_Storage_Location_to_error_message":{"runAfter":{},"metadata":{"operationMetadataId":"5ae75d83-b219-4c0c-88a3-a49a79df2b3b"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"@if(equals(items('Apply_to_each_Data_Storage_Location')?['Value'], null), 'Data Storage Location not found. ','')"},"description":"Append to variable: if(equals(items('Apply_to_each_Data_Storage_Location')?['Value'], null), 'Data Storage Location not found. ','')"}},"runAfter":{"Select_DataStorageLocation":["Succeeded"]},"metadata":{"operationMetadataId":"95a6a49e-b803-4d1d-8158-924f6c2a7c50"},"type":"Foreach"}},"runAfter":{"Scope:_Split_DataAccess_into_array_and_check_for_valid_entries":["Succeeded"]},"metadata":{"operationMetadataId":"5acea91a-f464-4ef1-8509-1eca5d77d57d"},"type":"Scope"},"Scope:_Split_DataTypeFormatsCollected_into_array_and_check_for_valid_entries":{"actions":{"Select_DataTypeFormatsCollected":{"runAfter":{},"metadata":{"operationMetadataId":"c2ebc4c6-0728-4a87-8266-30a87069848d"},"type":"Select","inputs":{"from":"@split(item()['DataTypeFormatsCollected'], ';')","select":{"Value":"@if(contains(outputs('Compose:_DataTypeFormatsCollected_choices'), item()), item(), null)"}},"description":"Select: split(item()['DataTypeFormatsCollected'], ';'), if(contains(outputs('Compose:_DataTypeFormatsCollected_choices'), item()), item(), null)"},"Apply_to_each_Data_Type_Formats_Collected":{"foreach":"@body('Select_DataTypeFormatsCollected')","actions":{"Append_Data_Type_Formats_Collected_to_error_message":{"runAfter":{},"metadata":{"operationMetadataId":"5ae75d83-b219-4c0c-88a3-a49a79df2b3b"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"@if(equals(items('Apply_to_each_Data_Type_Formats_Collected')?['Value'], null), 'Data Type Formats not found. ','')"},"description":"Append to variable: if(equals(items('Apply_to_each_Data_Type_Formats_Collected')?['Value'], null), 'Data Type Formats not found. ','')"}},"runAfter":{"Select_DataTypeFormatsCollected":["Succeeded"]},"metadata":{"operationMetadataId":"95a6a49e-b803-4d1d-8158-924f6c2a7c50"},"type":"Foreach"}},"runAfter":{"Scope:_Split_DataStorageLocation_into_array_and_check_for_valid_entries":["Succeeded"]},"metadata":{"operationMetadataId":"5acea91a-f464-4ef1-8509-1eca5d77d57d"},"type":"Scope"}},"runAfter":{"Scope:_Lookup_Partner_Organizations_and_put_them_into_an_array":["Succeeded"]},"metadata":{"operationMetadataId":"15baea50-728b-4212-bf0e-f25135c11ffa"},"type":"Scope"},"Set_error_string_to_be_empty":{"runAfter":{},"metadata":{"operationMetadataId":"6a709c8b-99bb-4513-9505-8b73792965cd"},"type":"SetVariable","inputs":{"name":"errors","value":"@{null}"},"description":"Set variable: null"},"Scope:_Check_for_missing_required_fields":{"actions":{"Condition:_ProjectTitle_is_missing":{"actions":{"Add_ProjectTitle_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"e4769d2b-4be7-4d0d-8532-f92f72b4772a"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'ProjectTitle'. "},"description":"Append to string variable"}},"runAfter":{},"expression":{"equals":["@item()?['ProjectTitle']",""]},"metadata":{"operationMetadataId":"cc54134e-d77c-4eb6-bd50-696d1bdf85ed"},"type":"If"},"Condition:_ProjectDescription_is_missing":{"actions":{"Add_ProjectDescription_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"0e21ddaa-03ec-451d-a4eb-c5462264e10c"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'ProjectDescription'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_ProjectTitle_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['ProjectDescription']",""]},"metadata":{"operationMetadataId":"17cdd923-b69f-474b-9948-ed99f42a3a25"},"type":"If"},"Condition:_CostCenter_is_missing":{"actions":{"Add_CostCenter_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"71666eaf-c545-46ca-be94-45c81d04f8c0"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'CostCenter'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_ProjectDescription_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['CostCenter']",""]},"metadata":{"operationMetadataId":"b43b7663-b43c-4bbc-adf6-1bf5807b94aa"},"type":"If"},"Condition:_FWSNationalProgram_is_missing":{"actions":{"Add_FWSNationalProgram_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"b815bc4f-c322-453d-9d8a-24daad1ed5f2"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'FWSNationalProgram'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_CostCenter_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['FWSNationalProgram']",""]},"metadata":{"operationMetadataId":"16ba7bbb-77d4-4272-bb32-80002c7ee13f"},"type":"If"},"Condition:_FWSRegion_is_missing":{"actions":{"Add_FWSRegion_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"2b17b10f-64d4-453d-a734-bfce47ce2038"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'FWSRegion'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_FWSNationalProgram_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['FWSRegion']",""]},"metadata":{"operationMetadataId":"6f1b05ff-cd76-47fd-8562-6799a4c48826"},"type":"If"},"Condition:_DataTrustee_is_missing":{"actions":{"Add_DataTrustee_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"6ca40b64-5015-49c8-abdd-bf76712eef92"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'DataTrustee'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_FWSRegion_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['DataTrustee']",""]},"metadata":{"operationMetadataId":"7fdc83d7-58cb-475e-ab90-f15ec9d7f5b9"},"type":"If"},"Condition:_DataSteward_is_missing":{"actions":{"Add_DataSteward_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"62a0b15a-6e42-478b-a2ad-4085b8df5166"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'DataSteward'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_DataTrustee_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['DataSteward']",""]},"metadata":{"operationMetadataId":"b8fae75a-5550-406d-95be-970d1e3057a9"},"type":"If"},"Condition:_DataCustodianChoice_is_missing":{"actions":{"Add_DataCustodianChoice_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"971e39cc-4ec8-4c18-8bde-d128681ff7e8"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'DataCustodianChoice'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_DataSteward_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['DataCustodianChoice']",""]},"metadata":{"operationMetadataId":"7b2307f4-d3b0-4135-9c60-772622136b5d"},"type":"If"},"Condition:_DataProducerChoice_is_missing":{"actions":{"Add_DataProducerChoice_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"4903b971-93ff-4558-b555-0fbce0361bf0"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'DataProducerChoice'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_DataCustodianChoice_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['DataProducerChoice']",""]},"metadata":{"operationMetadataId":"82c0d7ea-0513-4fb6-a964-c8b5a1082803"},"type":"If"},"Condition:_ProjectTimeline_is_missing":{"actions":{"Add_ProjectTimeline_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"f1a76ce1-d2dd-46bf-ac11-bef997b040ee"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'ProjectTimeline'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_DataProducerChoice_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['ProjectTimeline']",""]},"metadata":{"operationMetadataId":"23643224-9be3-42df-aaf5-9bf96590dfe4"},"type":"If"},"Condition:_ProjectStartDate_is_missing":{"actions":{"Add_ProjectStartDate_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"7bfb0cff-fc6e-4aec-9022-91c1dcc5353a"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'ProjectStartDate'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_ProjectTimeline_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['ProjectStartDate']",""]},"metadata":{"operationMetadataId":"9657448e-d43c-4e54-a01f-8c1d6b685d9d"},"type":"If"},"Condition:_DataReviewSchedule_is_missing":{"actions":{"Add_DataReviewSchedule_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"66d2afc0-b5e0-4571-bb19-c77117e21f4c"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'DataReviewSchedule'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_ProjectStartDate_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['DataReviewSchedule']",""]},"metadata":{"operationMetadataId":"23b941aa-a38b-48cb-97a0-33630e319ca3"},"type":"If"},"Condition:_DataTypeFormatsCollected_is_missing":{"actions":{"Add_DataTypeFormatsCollected_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"e9672e9c-56be-45a6-b42f-92856b477fd7"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'DataTypeFormatsCollected'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_DataReviewSchedule_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['DataTypeFormatsCollected']",""]},"metadata":{"operationMetadataId":"9f0795dc-967f-42f8-bfcb-44141a7bfe50"},"type":"If"},"Condition:_DataStorageLocation_is_missing":{"actions":{"Add_DataStorageLocation_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"a764b3d3-1933-4a4d-8c24-28211ceb7e93"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'DataStorageLocation'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_DataTypeFormatsCollected_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['DataStorageLocation']",""]},"metadata":{"operationMetadataId":"23130a43-6f40-4fb3-b531-7b004b6fbd87"},"type":"If"},"Condition:_DataAccess_is_missing":{"actions":{"Add_DataAccess_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"76f817d2-983c-4c53-962a-5f7bfeef338f"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'DataAccess'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_DataStorageLocation_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['DataAccess']",""]},"metadata":{"operationMetadataId":"16dcc546-ec68-4603-aaef-5a00a6732883"},"type":"If"},"Condition:_RequiredResources_is_missing":{"actions":{"Add_RequiredResources_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"5dfc64b0-fef2-45e9-9f35-b82366e118bf"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'RequiredResources'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_DataAccess_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['RequiredResources']",""]},"metadata":{"operationMetadataId":"847f2e69-6c1c-46e3-a662-5dac7964f9e5"},"type":"If"},"Condition:_DataStandard_is_missing":{"actions":{"Add_DataStandard_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"c1f31f5e-db22-4dd5-b8c5-0308a3a6ff77"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'DataStandard'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_RequiredResources_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['DataStandard']",""]},"metadata":{"operationMetadataId":"6c334c6b-5e22-4912-9ac2-314cf1de4cbf"},"type":"If"},"Condition:_MetadataStandard_is_missing":{"actions":{"Add_MetadataStandard_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"2fe4856f-a74c-4055-bee1-6670d7cb82cd"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'MetadataStandard'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_DataStandard_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['MetadataStandard']",""]},"metadata":{"operationMetadataId":"3f740d9b-454f-46f6-a0b4-a193f951a490"},"type":"If"},"Condition:_DataQualityAssurance_is_missing":{"actions":{"Add_DataQualityAssurance_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"b6201ffd-580a-4c2f-b849-23270b24898e"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'DataQualityAssurance'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_MetadataStandard_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['DataQualityAssurance']",""]},"metadata":{"operationMetadataId":"a3a46c10-655c-43bd-ae7c-942af2a27180"},"type":"If"},"Condition:_DataQualityControl_is_missing":{"actions":{"Add_DataQualityControl_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"d3e0e191-82cc-4bdf-89ce-1a6a1f69fa68"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'DataQualityControl'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_DataQualityAssurance_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['DataQualityControl']",""]},"metadata":{"operationMetadataId":"4d860401-052d-48cb-b584-7b0a95188c0c"},"type":"If"},"Condition:_RecordsMgmtAcknowledgement_is_missing":{"actions":{"Add_RecordsMgmtAcknowledgement_to_errors":{"runAfter":{},"metadata":{"operationMetadataId":"280755ce-da0a-4181-93f6-444e778a8655"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Missing required field 'RecordsMgmtAcknowledgement'. "},"description":"Append to string variable"}},"runAfter":{"Condition:_DataQualityControl_is_missing":["Succeeded"]},"expression":{"equals":["@item()?['RecordsMgmtAcknowledgement']",""]},"metadata":{"operationMetadataId":"17d41ebe-9554-4692-a24f-cbbb68b7fb65"},"type":"If"}},"runAfter":{"Scope:_Split_multi-select_fields_into_arrays":["Succeeded"]},"metadata":{"operationMetadataId":"3a18e3d5-e288-46cd-8f5b-811a6fcbbf64"},"type":"Scope"},"Condition:_No_errors_are_present":{"actions":{"Create_DMP_list_item":{"runAfter":{},"metadata":{"operationMetadataId":"6a667bd2-fd9f-4b90-9e97-87979bcb2527"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://doimspp.sharepoint.com/sites/fws-data","table":"801fb275-7fba-42d9-82bd-da53008caa0e","item/Title":"@items('Apply_to_each_row')['ProjectTitle']","item/ProjectDescription":"@item()['ProjectDescription']","item/CostCenter":"@item()['CostCenter']","item/FWSNationalProgram":"@item()['FWSNationalProgram']","item/InteriorRegion":"@item()['FWSRegion']","item/DataTrustee":"@body('Select_Data_Trustee')","item/DataSteward":"@body('Select_Data_Steward')","item/ProjectStartDate":"@items('Apply_to_each_row')['ProjectStartDate']","item/TypeofDataCollected":"@body('Select_DataTypeFormatsCollected')","item/DataStorageLocation2":"@body('Select_DataStorageLocation')","item/DataAccess":"@body('Select_DataAccess')","item/RequiredResources":"@item()['RequiredResources']","item/DataStandard":"@body('Select_DataStandard')","item/MetadataStandard":"@body('Select_MetadataStandard')","item/DataQualityAssurance":"@item()['DataQualityAssurance']","item/DataQualityControl":"@item()['DataQualityControl']","item/Completed":"@item()?['Completed']","item/Keywords":"@item()['Keywords']","item/Partners":"@variables('partnerOrg')","item/DataCustodianChoice/Value":"@item()['DataCustodianChoice']","item/DataCustodian":"@body('Select_Data_Custodian')","item/DataCustodian0":"@item()['DataCustodianNonDOI']","item/DataProducerChoice/Value":"@item()['DataProducerChoice']","item/DataProducer":"@body('Select_Data_Producer')","item/DataProducer0":"@item()['DataProducerNonDOI']","item/ProjectTimeline/Value":"@item()['ProjectTimeline']","item/ProjectEndDate":"@if(equals(items('Apply_to_each_row')['ProjectEndDate'],''), null,addDays('1899-12-30', int(item()['ProjectEndDate']), 'yyyy-MM-ddT00:00:00'))","item/ExistingData":"@item()['ExistingData']","item/ProjectReferenceNumber":"@item()['ProjectReferenceNumber']","item/DataStorageLinks":"@item()['DataStorageLinks']","item/DataAccessJustification":"@item()['DataAccessJustification']","item/DataReviewSchedule/Value":"@item()['DataReviewSchedule']","item/RecordsMgmtAcknowledgement":"@item()['RecordsMgmtAcknowledgement']","item/RecordsSchedule":"@item()['RecordsSchedule']","item/RecordsTypes":"@item()['RecordsTypes']","item/RecordsDisposition":"@item()?['RecordsDisposition']","item/Comments":"@item()?['Comments']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Create item"},"Update_Excel_row_Uploaded_value_to_TRUE":{"runAfter":{"Create_DMP_list_item":["Succeeded"]},"metadata":{"operationMetadataId":"042a5609-6df9-4fcd-9f7e-ca4fcf2f4398","tableId":"National_DMPs"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"me","drive":"b!_7PbNhP_h0iz_z0OkYxq6okfjOjJrEVDmfUo4I_WmIYerlhinFRERobHGzj7fc0a","file":"@items('Apply_to_each_file')?['Id']","table":"National_DMPs","idColumn":"ProjectTitle","id":"@items('Apply_to_each_row')?['ProjectTitle']","item":{"Uploaded":"TRUE"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Update a row: items('Apply_to_each_file')?['{FullPath}'], items('Apply_to_each_row')?['ProjectTitle']"}},"runAfter":{"Scope:_Check_for_missing_required_fields":["Succeeded"]},"else":{"actions":{"Add_list_of_errors_to_Error_column":{"runAfter":{},"metadata":{"operationMetadataId":"7344d9ef-e374-4c7f-ab64-7b4352d3daf8","tableId":"National_DMPs"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"PatchItem"},"parameters":{"source":"me","drive":"b!_7PbNhP_h0iz_z0OkYxq6okfjOjJrEVDmfUo4I_WmIYerlhinFRERobHGzj7fc0a","file":"@items('Apply_to_each_file')?['Id']","table":"National_DMPs","idColumn":"ProjectTitle","id":"@items('Apply_to_each_row')?['ProjectTitle']","item":{"Error":"@variables('errors')"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Update a row"},"Send_an_email_notification_of_errors":{"runAfter":{"Add_list_of_errors_to_Error_column":["Succeeded"]},"metadata":{"operationMetadataId":"dababb7e-ecba-4580-83bb-ee7e74ddbece"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{triggerOutputs()['headers']['x-ms-user-email-encoded']};","request/subject":"DMP Import Flow Failed","request/text":"<p>DMP Import Flow failed for the project '@{items('Apply_to_each_row')['ProjectTitle']}' with the following errors:<br>\n<br>\n@{variables('errors')}<br>\n<br>\n<br>\n</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"equals":["@variables('errors')",""]},"metadata":{"operationMetadataId":"6dbe1983-cf42-4eb9-93c9-1fd93906b631"},"type":"If"},"Scope:_Lookup_Partner_Organizations_and_put_them_into_an_array":{"actions":{"Set_partnerOrg_variable_to_be_empty":{"runAfter":{},"metadata":{"operationMetadataId":"d8e6881d-68ad-4b6f-99d7-5f66f65c43a4"},"type":"SetVariable","inputs":{"name":"partnerOrg","value":[]},"description":"Set variable"},"Condition:_No_Partner_Organizations_are_present":{"actions":{"PartnerOrganization_ID_is_-1":{"runAfter":{},"metadata":{"operationMetadataId":"dec925cf-0082-43c9-9f6f-6baa8173c070"},"type":"SetVariable","inputs":{"name":"partnerOrg","value":[{"ID":-1}]},"description":"Set variable"}},"runAfter":{"Set_partnerOrg_variable_to_be_empty":["Succeeded"]},"else":{"actions":{"Scope:_Lookup_Partner_Agencies_by_name_and_add_ID_to_partnerOrg_array":{"actions":{"Apply_to_each_PartnerOrganization":{"foreach":"@split(item()['PartnerOrganization'],';')","actions":{"Filter_items_from_PartnerOrganization_list":{"runAfter":{},"metadata":{"operationMetadataId":"984b04c2-7106-4ca6-81b9-09da1b4e0dcb"},"type":"Query","inputs":{"from":"@outputs('Get_PartnerAgency_Lookup_List')?['body/value']","where":"@equals(item()?['Title'], items('Apply_to_each_PartnerOrganization'))"},"description":"Filter array: outputs('Get_PartnerAgency_Lookup_List')?['body/value'], item()?['Title'], items('Apply_to_each_PartnerOrganization')"},"Select_PartnerOrganization_ID":{"runAfter":{"Filter_items_from_PartnerOrganization_list":["Succeeded"]},"metadata":{"operationMetadataId":"87a46026-3f3e-47be-a9d6-bd85854d4d04"},"type":"Select","inputs":{"from":"@body('Filter_items_from_PartnerOrganization_list')","select":{"ID":"@item()['ID']"}},"description":"Select: body('Filter_items_from_PartnerOrganization_list'), item()['ID']"},"Append_to_partnerOrg_variable":{"runAfter":{"Condition:_partnerOrg_contains_a_null_value":["Succeeded"]},"metadata":{"operationMetadataId":"35a0e529-dbb8-4ebe-b6da-40ef7ea94370"},"type":"AppendToArrayVariable","inputs":{"name":"partnerOrg","value":{"ID":"@body('Select_PartnerOrganization_ID')?[0]?['ID']"}},"description":"Append to array variable: body('Select_PartnerOrganization_ID')?[0]?['ID']"},"Condition:_partnerOrg_contains_a_null_value":{"actions":{"Append_to_error_message":{"runAfter":{},"metadata":{"operationMetadataId":"5ae75d83-b219-4c0c-88a3-a49a79df2b3b"},"type":"AppendToStringVariable","inputs":{"name":"errors","value":"Organization '@{ items('Apply_to_each_PartnerOrganization')}' not found. "}}},"runAfter":{"Select_PartnerOrganization_ID":["Succeeded"]},"expression":{"equals":["@body('Select_PartnerOrganization_ID')?[0]?['ID']","@null"]},"metadata":{"operationMetadataId":"4edc39ba-acf3-42f9-a6ee-0727cba21b58"},"type":"If","description":"Condition: body('Select_PartnerOrganization_ID')?[0]?['ID'], null"}},"runAfter":{},"metadata":{"operationMetadataId":"310048a5-823a-4926-a8c1-4421f2eeb82a"},"type":"Foreach","description":"Apply to each: split(item()['PartnerOrganization'],';')"}},"runAfter":{},"metadata":{"operationMetadataId":"1924e40f-6ee2-49f5-9866-2fdefc4fc1cc"},"type":"Scope"}}},"expression":{"equals":["@item()?['PartnerOrganization']",""]},"metadata":{"operationMetadataId":"2b379c47-c5ff-4130-8139-9dfa6e2cc067"},"type":"If","description":"Condition: items('Apply_to_each_row')?['PartnerOrganziation']"}},"runAfter":{"Set_error_string_to_be_empty":["Succeeded"]},"metadata":{"operationMetadataId":"7e34ccd4-e15c-42ce-9163-1e189d961745"},"type":"Scope"}}},"expression":{"equals":["@item()?['Uploaded']","TRUE"]},"metadata":{"operationMetadataId":"909a5515-8c64-4f28-9117-b40a9179c23c"},"type":"If","description":"Condition: items('Apply_to_each_row')?['Uploaded']"}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"a9cc1b27-4e7b-48f8-99a8-63c916fb28f2"},"type":"Foreach","description":"Apply to each: outputs('List_rows_present_in_a_table')?['body/value']"},"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"operationMetadataId":"656d6918-4435-404f-837b-bcedeb26198a","tableId":"National_DMPs"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"parameters":{"source":"me","drive":"b!_7PbNhP_h0iz_z0OkYxq6okfjOjJrEVDmfUo4I_WmIYerlhinFRERobHGzj7fc0a","file":"@items('Apply_to_each_file')?['Id']","table":"National_DMPs","dateTimeFormat":"ISO 8601"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"List rows present in a table: items('Apply_to_each_file')?['Id']"}},"runAfter":{"Scope:_Compose_lists_of_multi-select_values":["Succeeded"]},"metadata":{"operationMetadataId":"975d52da-a147-4bc1-b41a-0af97de9cdd2"},"type":"Foreach","description":"Apply to each: outputs('List_files_in_folder')?['body/value']"},"List_files_in_folder":{"runAfter":{},"metadata":{"b!_7PbNhP_h0iz_z0OkYxq6okfjOjJrEVDmfUo4I_WmIYerlhinFRERobHGzj7fc0a.01AU5ORTEXWWFK5QHAWRA2BBBGIDQ6M5LS":"/DMP_Import","operationMetadataId":"8bbb1617-13fb-42ea-9010-e30e10db4b34"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ListFolderV2"},"parameters":{"id":"b!_7PbNhP_h0iz_z0OkYxq6okfjOjJrEVDmfUo4I_WmIYerlhinFRERobHGzj7fc0a.01AU5ORTEXWWFK5QHAWRA2BBBGIDQ6M5LS"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"List files in folder"},"Initialize_string_to_hold_error_messages":{"runAfter":{"List_files_in_folder":["Succeeded"]},"metadata":{"operationMetadataId":"ae56de8a-7a0e-41f3-bd88-011a830d6687"},"type":"InitializeVariable","inputs":{"variables":[{"name":"errors","type":"string"}]}},"Scope:_Compose_lists_of_multi-select_values":{"actions":{"Get_PartnerAgency_Lookup_List":{"runAfter":{},"metadata":{"operationMetadataId":"0b920a6c-eea0-4b98-b3ad-b4d1a59f7c3f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://doimspp.sharepoint.com/sites/fws-data","table":"c918793e-d2ec-4dfc-be27-9a49bb16d6ed"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Get items"},"Scope:_Retrieve_DataTypeFormatsCollected_choices":{"actions":{"Get_DataTypeFormatsCollected_choices_from_List":{"runAfter":{},"metadata":{"operationMetadataId":"d31e4535-7a6b-4c07-8668-6a3507a6db7c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://doimspp.sharepoint.com/sites/fws-data","parameters/method":"GET","parameters/uri":"/_api/web/lists/GetByTitle('DMP-Sandbox')/Fields(guid'9189e0e9-b5e6-411d-9d62-d98776cdc142')","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Send an HTTP request to SharePoint"},"Compose:_DataTypeFormatsCollected_choices":{"runAfter":{"Get_DataTypeFormatsCollected_choices_from_List":["Succeeded"]},"metadata":{"operationMetadataId":"4458182f-15a0-44eb-9b49-5b62371b2a6c"},"type":"Compose","inputs":"@outputs('Get_DataTypeFormatsCollected_choices_from_List')?['body']?['d']?['Choices']?['results']"}},"runAfter":{"Scope:_Retrieve_DataStorageLocation_choices":["Succeeded"]},"metadata":{"operationMetadataId":"a0a8fc05-8bb1-4f54-8a9d-722910d80980"},"type":"Scope"},"Scope:_Retrieve_DataStorageLocation_choices":{"actions":{"Get_DataStorageLocation_choices_from_List":{"runAfter":{},"metadata":{"operationMetadataId":"d31e4535-7a6b-4c07-8668-6a3507a6db7c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://doimspp.sharepoint.com/sites/fws-data","parameters/method":"GET","parameters/uri":"/_api/web/lists/GetByTitle('DMP-Sandbox')/Fields(guid'a1f19e9c-e759-45b3-aaed-c1c925349ddb')","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Send an HTTP request to SharePoint"},"Compose:_DataStorageLocation_choices":{"runAfter":{"Get_DataStorageLocation_choices_from_List":["Succeeded"]},"metadata":{"operationMetadataId":"4458182f-15a0-44eb-9b49-5b62371b2a6c"},"type":"Compose","inputs":"@outputs('Get_DataStorageLocation_choices_from_List')?['body']?['d']?['Choices']?['results']"}},"runAfter":{"Scope:_Retrieve_DataAccess_choices":["Succeeded"]},"metadata":{"operationMetadataId":"a0a8fc05-8bb1-4f54-8a9d-722910d80980"},"type":"Scope"},"Scope:_Retrieve_DataAccess_choices":{"actions":{"Get_DataAccess_choices_from_List":{"runAfter":{},"metadata":{"operationMetadataId":"d31e4535-7a6b-4c07-8668-6a3507a6db7c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://doimspp.sharepoint.com/sites/fws-data","parameters/method":"GET","parameters/uri":"/_api/web/lists/GetByTitle('DMP-Sandbox')/Fields(guid'26360af6-a944-4806-8145-8951d65f9d4b')","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Send an HTTP request to SharePoint"},"Compose:_DataAccess_choices":{"runAfter":{"Get_DataAccess_choices_from_List":["Succeeded"]},"metadata":{"operationMetadataId":"4458182f-15a0-44eb-9b49-5b62371b2a6c"},"type":"Compose","inputs":"@outputs('Get_DataAccess_choices_from_List')?['body']?['d']?['Choices']?['results']"}},"runAfter":{"Scope:_Retrieve_MetadataStandards_choices":["Succeeded"]},"metadata":{"operationMetadataId":"a0a8fc05-8bb1-4f54-8a9d-722910d80980"},"type":"Scope"},"Scope:_Retrieve_MetadataStandards_choices":{"actions":{"Get_MetadataStandard_choices_from_List":{"runAfter":{},"metadata":{"operationMetadataId":"d31e4535-7a6b-4c07-8668-6a3507a6db7c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://doimspp.sharepoint.com/sites/fws-data","parameters/method":"GET","parameters/uri":"/_api/web/lists/GetByTitle('DMP-Sandbox')/Fields(guid'6595e6b3-ab43-4328-880a-dd7fd8c90d60')","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Send an HTTP request to SharePoint"},"Compose:_MetadataStandard_choices":{"runAfter":{"Get_MetadataStandard_choices_from_List":["Succeeded"]},"metadata":{"operationMetadataId":"4458182f-15a0-44eb-9b49-5b62371b2a6c"},"type":"Compose","inputs":"@outputs('Get_MetadataStandard_choices_from_List')?['body']?['d']?['Choices']?['results']"}},"runAfter":{"Scope:_Retrieve_DataStandards_choices":["Succeeded"]},"metadata":{"operationMetadataId":"a0a8fc05-8bb1-4f54-8a9d-722910d80980"},"type":"Scope"},"Scope:_Retrieve_DataStandards_choices":{"actions":{"Get_DataStandards_choices_from_List":{"runAfter":{},"metadata":{"operationMetadataId":"d31e4535-7a6b-4c07-8668-6a3507a6db7c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"parameters":{"dataset":"https://doimspp.sharepoint.com/sites/fws-data","parameters/method":"GET","parameters/uri":"/_api/web/lists/GetByTitle('DMP-Sandbox')/Fields(guid'a37e21f9-e99b-4f60-ad3e-a7e448d42184')","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"description":"Send an HTTP request to SharePoint"},"Compose:_DataStandards_choices":{"runAfter":{"Get_DataStandards_choices_from_List":["Succeeded"]},"metadata":{"operationMetadataId":"4458182f-15a0-44eb-9b49-5b62371b2a6c"},"type":"Compose","inputs":"@outputs('Get_DataStandards_choices_from_List')?['body']?['d']?['Choices']?['results']"}},"runAfter":{"Get_PartnerAgency_Lookup_List":["Succeeded"]},"metadata":{"operationMetadataId":"a0a8fc05-8bb1-4f54-8a9d-722910d80980"},"type":"Scope"}},"runAfter":{"Initialize_array_to_hold_PartnerAgency_lookups":["Succeeded"]},"metadata":{"operationMetadataId":"2f7ed544-a51b-46fc-b430-43e01666e31e"},"type":"Scope"},"Initialize_array_to_hold_PartnerAgency_lookups":{"runAfter":{"Initialize_string_to_hold_error_messages":["Succeeded"]},"metadata":{"operationMetadataId":"78b6f876-2c01-47e7-8add-9cfda82eec86"},"type":"InitializeVariable","inputs":{"variables":[{"name":"partnerOrg","type":"array"}]},"description":"Initialize variable"}},"description":"Transfers rows from Excel files stored on OneDrive into the national Data Management Plan form list. This flow can be adjusted to meet individual groups' needs."},"connectionReferences":{"shared_sharepointonline":{"connectionName":"4e4c5156e95a4a83a6a208b6cbd1a447","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-68f8d0ef-5cbe-4970-b958-26f924515143","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_sendmail":{"connectionName":"shared-sendmail-86561c1c-8dad-43e7-a846-e34a5a64e738","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-dab054b1-5fa3-403c-b49e-25b66df7c367","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}